html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.barber-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.card-body .btn.btn-outline-dark.always-dark {
    align-self: flex-end;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body span.badge {
    align-self: flex-start;
}


.booking-btn {
    border: 2px solid #d4af37;
    border-radius: 30px;
    padding: 8px 18px !important;
    margin-left: 10px;
    color: #d4af37 !important;
    font-weight: 600;
    transition: 0.3s;
}

    .booking-btn:hover {
        background-color: #d4af37;
        color: black !important;
    }