@using MSBarbershop.WebApp.ViewModels.Reservation
@model CreateReservationViewModel


<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg border-0">
                <div class="card-body p-4">

                    <h3 class="text-center mb-4 fw-bold">
                        Book Appointment
                    </h3>

                    <form asp-action="Create" method="post">

                        <div class="mb-3">
                            <label asp-for="BarberId" class="form-label">Barber</label>
                            <select asp-for="BarberId"
                                    id="BarberId"
                                    class="form-select"
                                    asp-items="Model.Barbers">
                            </select>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ServiceId" class="form-label">Service</label>
                            <select asp-for="ServiceId"
                                    id="ServiceId"
                                    class="form-select"
                                    asp-items="Model.Services">
                            </select>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Date" class="form-label"></label>
                            <input asp-for="Date" id="Date" type="date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Available Time</label>

                            <select asp-for="Time" id="Time" class="form-select">
                                <option>Select time</option>
                            </select>

                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>




                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-lg">
                                Confirm Reservation
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>

@section Scripts {

    <script>

        function loadSlots(){

            var barberId = $("#BarberId").val();
            var serviceId = $("#ServiceId").val();
            var date = $("#Date").val();

            if(!barberId || !serviceId || !date)
                return;

            $.get("/Reservations/GetAvailableSlots", {
                barberId: barberId,
                serviceId: serviceId,
                date: date
            }, function(data){

                $("#Time").empty();
                $("#Time").append(`<option>Select time</option>`);

                data.forEach(function(time){

                    $("#Time").append(
                        `<option value="${time}">${time}</option>`
                    );

                });

            });

        }

        $("#BarberId").change(loadSlots);
        $("#ServiceId").change(loadSlots);
        $("#Date").change(loadSlots);

    </script>

}

